$font-family:'poppin';

$primary-color-indigo:#A28CDE;
$primary-color-mint:#47C48C;


$second-color-blue:#D9E3F0;
$second-color-black:#010303;
$second-color-cornsilk:#FEFAE0;
$second-color-white:#f4f4f4;

$accent-color-vanilla:#F5E3A1;
$accent-color-coral:#F28C8C;
