.container {
  width: 100%;
  margin-top: 10rem;
  h2 {
    color: #47c48c;
    font-size: 5rem;
    font-family: "poppin-bold";
    width: 70%;
    margin: auto;
    line-height: 90px;
    margin-top: 4rem;
  }
  .container-products {
    padding-top: 4rem;
    width: 70%;
    margin: auto;
  }
}
