.container {
  width: 100%;
  h2 {
    color: #47c48c;
    font-size: 5rem;
    font-family: "poppin-bold";
    width: 70%;
    margin: auto;
    line-height: 90px;
  }
  .container-products {
    width: 70%;
    margin: auto;
  }
}
