
.container-servicies {
  width: 100%;

  .container-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    .services-card {
      border-radius: 5px;
      box-sizing: border-box;
      padding: 2rem 1rem;
      display: flex;
      min-height: 400px;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0px 0px 10px #c5c5c58a;
      .card-header {
        h2 {
              font-size: 1.4rem;
                margin: 0;
                min-height: 50px;
                line-height: 20px;
                color: #010303;
                text-align: center;
                margin-bottom: 1rem;
        }
      } 
      .card-body {
        p {
          font-size: 1.1rem;
          text-align: center;
        }
      } 
     .card-footer {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: auto;
        button {
          border: none;
          width: 50%;
          padding: 1rem 0;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #a28cde;
          font-family: "poppin-bold";
          cursor: pointer;
        }
        .btn-info {
          border: 2px solid #47c48c;
          background-color: #f4f4f4;
          color: #47c48c;
        }
      } 
    }
  }
  h2 {
    font-family: "poppin-bold";
    font-size: 3rem;
    line-height: 90px;
    margin-bottom: 2rem;
    color: #a28cde;
  }
}
