<div class="container-servicies">
    <h2>Consultas y servicios</h2>
    <div class="container-cards">

        @for (item of servicesList; track $index) {

            <div class="services-card">
                <div class="card-header">
                    <h2>{{item.nombre}}</h2>
                </div>
                <div class="card-body">
                    <p>{{item.descripcionCorta}}
                    </p>
                </div>
                <div class="card-footer">
                    <button>Agendar</button>
                    <button class="btn-info" (click)="openModal(item)">Mas información</button>
                </div>
            </div>
        }
       <!--  <div class="services-card">
            <div class="card-header">
                <h2>Consultas psicología</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, dolorum!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam repellendus ratione, officia vero
                    nihil totam aut impedit voluptatum tempore hic.
                </p>
            </div>
            <div class="card-footer">
                <button>Agendar</button>
                <button class="btn-info">Mas información</button>
            </div>
        </div>
        <div class="services-card">
            <div class="card-header">
                <h2>Renta de consultorio</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, dolorum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et corrupti nobis eos, cupiditate quos
                    incidunt. Sit corrupti aspernatur, sapiente, distinctio neque quia aliquid perspiciatis accusamus
                    facere iste tempore explicabo mollitia!
                </p>
            </div>
            <div class="card-footer">
                <button>Agendar</button>
                <button class="btn-info">Mas información</button>
            </div>
        </div> -->
    </div>
</div>