nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 4rem;
    .logo,.nav-options-container{
        width: 45%;
        margin: 0 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .logo{

        justify-content: flex-start;
        span{
            width: fit-content;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .nav-options-container{
        justify-content: flex-end !important;
        gap: 2rem;
        padding-right: 2rem;
        a{
            text-decoration: none;
            color: #010303;
            width: fit-content;
            border-bottom: 2px solid #F28C8C;
            text-align: center;
            cursor: pointer;
        }
    }
}