<div class="container-talleres">
    <div class="talleres-card">
        <div class="card-header">
            <h2>Talleres y grupos de apoyo</h2>
        </div>
        <div class="card-body">
            <p>Brindamos talleres, charlas y grupos de apoyo diseñados especialmente para acompañar a niños, adolescentes, jóvenes y adultos en su desarrollo personal y bienestar emocional.</p>
        </div>
        <div class="card-footer">
            <a href="https://wa.link/7rs3ll" target="_blank">Solicita mas información</a>
        </div>
    </div>
</div>