<div class="container">
    <div class="featured">
        <div class="featured-header">
            <h2>Keeping and <br> Caring for Animals</h2>
        </div>
        <div class="featured-body">
            <div class="body-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel eaque omnis dolores necessitatibus. Expedita voluptate impedit repudiandae laborum accusamus!
                </p>
            </div>
            <div class="body-footer">
                <button class="btn-action btn-inscription">Inscribirse</button>
                <button class="btn-action btn-more">Conoce mas</button>
            </div>
        </div>
    </div>
</div>