<div class="container">
    <div class="featured">
        <div class="featured-header">
            <h2>Sanando<br>mi niño interior</h2>
        </div>
        <div class="featured-body">
            <div class="body-text">
                <p>
                    Reconéctate con tu niño interior y sana heridas emocionales a través de dinámicas terapéuticas y
                    ejercicios de autoexploración. Desarrolla mayor autocompasión, fortalece tu autoestima y mejora tus
                    relaciones.
                </p>
            </div>
            <div class="body-footer">
                <button class="btn-action btn-inscription">Inscribirse</button>
                <button class="btn-action btn-more" (click)="openModal()">Conoce mas</button>
            </div>
        </div>
    </div>
</div>