<div class="container">
    <div class="about-us">
        <div class="about-us-left">
            <div class="container-images">
                <div class="img-container img-one">
                    <img ngSrc="../../../../assets/images/about us/consultorio.jpg"  width="400" height="500">
                </div>
                <div class="img-container img-two">
                    <img ngSrc="../../../../assets/images/about us/profesional.jpg" width="300" height="300">
                </div>
            </div>
        </div>
        <div class="about-us-right">
            <div class="card">
                <div class="card-header">
                    <h2>¿Que es <br> sanara?</h2>
                </div>
                <div class="card-body">
                    <p class="description">Es la apuesta de dos especialistas en Intervención Psicosocial por crear un espacio seguro en Ibagué, para sanar, crear, restaurar, conocer y crecer. Es un lugar de renovación, en donde de la mano de dos profesionales capacitados, especializados y comprometidos se trabaje en problemáticas de salud mental a través de sesiones individuales de psicología y/o trabajo social, o sesiones grupales de mindfulness, arteterapia, meditación, movimiento, entre otras.
                        También se trabajará a partir de charlas y talleres sobre manejo de la ansiedad, depresión, gestión de emociones, autocuidado, relaciones saludables y comunicación asertiva, entre otros temas que aportan al bienestar del ser humano.
                        </p>
                    <div class="container-approach">
                        <div class="approach position-right">
                            <h3>misión</h3>
                            <p>Sanara como centro de bienestar busca proporcionar servicios integrales de trabajo social y psicología que permitan promover la salud mental y el bienestar emocional de individuos, familias y comunidades.
                            </p> 
                        </div>
                        <div class="approach position-left">
                            <h3>visión</h3>
                            <p>Ser un referente en la prestación de servicios de bienestar en la ciudad de Ibagué para el año 2029, siendo
                                reconocidos por su compromiso, sentido humano y trabajo desde la compasión a través de espacios variados y cercanos a la comunidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- derechos
Photo by <a href="https://unsplash.com/@gaboromay?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gabo Romay</a> on <a href="https://unsplash.com/photos/a-row-of-chairs-sitting-next-to-a-wall-zdphMNX9etI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   
-->