<div class="container">
    <div class="about-us">
        <div class="about-us-left">
            <div class="container-images">
                <div class="img-container img-one">
                    <img ngSrc="../../../../assets/images/about us/consultorio.jpg"  width="400" height="200">
                </div>
                <div class="img-container img-two">
                    <img ngSrc="../../../../assets/images/about us/profesional.jpg" width="400" height="400">
                </div>
                <div class="img-container img-three">
                    <img ngSrc="../../../../assets/images/about us/grupo.jpg"  width="300" height="500">
                </div>
            </div>
        </div>
        <div class="about-us-right">
            <div class="card">
                <div class="card-header">
                    <h2>¿Que es <br> sanara?</h2>
                </div>
                <div class="card-body">
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consequatur odit debitis velit repellendus ducimus facere quisquam, quas maiores dicta!</p>
                    <div class="container-approach">
                        <div class="approach position-right">
                            <h3>misión</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta velit eaque recusandae optio enim tenetur.</p>
                        </div>
                        <div class="approach position-left">
                            <h3>visión</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta velit eaque recusandae optio enim tenetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- derechos
Photo by <a href="https://unsplash.com/@gaboromay?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gabo Romay</a> on <a href="https://unsplash.com/photos/a-row-of-chairs-sitting-next-to-a-wall-zdphMNX9etI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   
-->