.container,.about-us,.about-us-left,.about-us-right,.container-images{
    display: flex;
    background-color: transparent !important;
}
.container{
    width: 100%;
    justify-content: center;
    z-index: 100;
    margin-top: 3rem;
    min-height: 100vh;
    height: fit-content;
    .about-us{
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        .about-us-left{
            width: 40%;
            
            .container-images{
                position: relative;
                .img-container{
                    position: relative;
                    border-radius: 15px;
                    overflow: hidden;
                    height: fit-content;
                    box-shadow: 0px 0px 10px rgb(82 80 80);
                }
                .img-one{
                    top: 70px;
                    height: 500px;
                }
                .img-two{
                    border-radius: 100% !important;
                    left: -160px;
                    top: 420px;
                    width: 300px;
                    height:300px ;
                }
                
            }
        }
        .about-us-right{
            width: 50%;
            p{
                font-size: 1.2rem;
            }
            .card{
                box-sizing: border-box;
                padding: 3rem 2.5rem;
                background-color: rgba(244, 244, 244, 0.392) !important;
                border-radius: 5px;
                .card-header{
                    width: 100%;
                    h2{
                        font-size: 64px;
                        color: #f4f4f4;
                        font-family: 'poppin-bold';
                        margin: 0;
                        line-height: 55px;
                    }
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .container-approach{
                        display: flex;
                        flex-direction: column;
                        .approach{
                            width: 70%;
                            h3{
                                font-size: 34px;
                                text-transform: capitalize;
                                font-family: 'poppin-bold';
                            }
                        }
                        .position-right{
                            text-align: end;
                            margin-left: auto;
                            h3{
                                color: #47C48C;
                            }
                        }
                        .position-left{
                            text-align: start;
                            margin-right: auto;
                            h3{
                                color: #A28CDE;
                            }
                        }
                    }
                }
            }
        }
    }
}