<div class="container-modal">
    <div class="modal">
        <div class="modal-header">
            <div class="row">
                <h2>{{productInfo.nombre}}</h2> 
                 <button (click)="closeModal()">X</button>
            </div>
            <div class="row">
                <div class="details-labels">


                    <div class="row-details">
                        <mat-icon aria-hidden="false" class="material-icons icon" aria-label="Icon of person" fontIcon="person"></mat-icon>
                        <div class="text-detail">{{productInfo.nombreProfesional}}</div>
                    </div>
                    <div class="row-details">
                        <mat-icon aria-hidden="false" class="material-icons icon" aria-label="Icon of timer" fontIcon="timer"></mat-icon>
                        <div class="text-detail">{{productInfo.duracion}}</div> 
                    </div>
                    <div class="row-details">
                        <mat-icon aria-hidden="false" class="material-icons icon" aria-label="Icon of apartment" fontIcon="apartment"></mat-icon> 
                        <div class="text-detail">{{productInfo.tipoConsulta}}</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-body">
           <p>{{productInfo.descripcionDetallada}}</p> 
            
            </div>
            <a class="btn-agendar" href="">Agendar</a>
    </div>
</div>