<div class="container-modal">
    <div class="modal">
        <div class="modal-header">
            <div class="row">
                <!-- <h2>{{productInfo.title}}</h2> -->
                <h2>titulo de consulta</h2>
                <button (click)="closeModal()">X</button>
            </div>
            <div class="row">
                <div class="details-labels">


                    <div class="row-details">
                        <div class="icon"></div>
                        <!-- <div class="text-detail">{{productInfo.professional}}</div> -->
                        <div class="text-detail">anzary cobos</div>
                    </div>
                    <div class="row-details">
                        <div class="icon"></div>
                        <!-- <div class="text-detail">{{productInfo.duration}} min</div> -->
                        <div class="text-detail">20</div>
                    </div>
                    <div class="row-details">
                        <div class="icon"></div>
                        <!-- <div class="text-detail">{{productInfo.type}}</div> -->
                        <div class="text-detail">presencial</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-body">
            <!-- <p>{{productInfo.description}}</p> -->
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione consequatur deleniti amet recusandae
                repellat! Porro iste dicta ipsum sapiente veniam eos recusandae dolorem, ea, possimus nulla et amet
                consectetur quaerat.</p>
            </div>
            <a class="btn-agendar" href="">Agendar</a>
    </div>
</div>