<footer>
    <div class="contact-bar">
        <div class="redes left">
            <h2>SANARA</h2>
            <p>Síguenos en nuestras redes sociales</p>
            <div class="social-networks-icons">

            </div>
        </div>
        <div class="logo right">
            <img src="../../../assets/images/logo.png" alt="">
            <button>Chatea con nosotros</button>
        </div>
    </div>
    <div class="legal-bar">
        <div class="since">2024</div>
        <div class="legal">
            <a href="" class="terms">Terminos y condiciones</a>
            <a href="" class="policy">Politicas de privacidad</a>
        </div>
    </div>
</footer>