<footer>
    <div class="contact-bar">
        <div class="redes left">
            <h2>SANARA</h2>
            <p>Síguenos en nuestras redes sociales</p>
            <div class="social-networks-icons">
               <a href="" class="icon"><img src="../../../assets/images/icons/facebook.svg" alt=""> </a>
                <a href="" class="icon"><img src="../../../assets/images/icons/instagram.svg" alt=""> </a>
                <a href="" class="icon"><img src="../../../assets/images/icons/linkedin.svg" alt=""> </a>
                <a href="" class="icon"><img src="../../../assets/images/icons/threads.svg" alt=""> </a>
            </div>
        </div>
        <div class="logo right">
            <img src="../../../assets/images/logo.png" alt="">
            <a href=""> Chatea con nosotros <img src="../../../assets/images/icons/whatsapp.svg" alt=""> </a>
                
        </div>
    </div>
    <div class="legal-bar">
        <div class="since">2024</div>
        <div class="legal">
            <a href="" class="terms">Terminos y condiciones</a>
            <a href="" class="policy">Politicas de privacidad</a>
        </div>
    </div>
</footer>